.filter {
    background-color: white;
    width: 250px;
    height: 300px;
    padding-left: 15px;
    padding-top: 5px;
    border-radius: 10px;
    flex: none; /* Do not grow or shrink */
    margin-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    
    
  }
.textbox{
    padding-left: 40px;
}

.srchbtn{
    margin-top: 10px;
    margin-left: 80px;
}

.container{
    padding-top: 80px;
}