.filter {
  background-color: white;
  width: fit-content;
  padding: 30px;
  border-radius: 10px;
  width: fit-content;
}

.textbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.srchbtn {
  max-width: 60px;
}

.container {
  margin-top: 45px;
}
